<section class="grid gap-5">
  <div class="w-full p-4 bg-white rounded shadow border-l-4 border-l-primary">

    <div class="flex items-center gap-x-2">
      <lucide-icon [name]="AlarmClock" class="size-4.5 text-gray-500" />
      <p class="text-sm font-semibold text-gray-500 truncate w-full">10:00 AM</p>
      <p class="text-xs font-semibold bg-primary text-white rounded px-2 py-1.5">Alta</p>
    </div>

    <div class="text-sm py-3 space-y-1">
      <p class="font-semibold line-clamp-1">Diseñar prototipo de aplicación móvil</p>
      <p class="font-medium text-sm text-gray-500 line-clamp-1">Crear un prototipo para la nueva aplicación móvil de gestión de tareas.</p>
    </div>

    <article class="pt-5 grid grid-cols-[1fr_auto] gap-x-3 gap-y-5 border-t border-gray-300">

      <div class="flex items-center gap-x-2 col-span-2">
        <lucide-icon [name]="SquarCheck" class="size-5" />
        <p class="font-semibold text-sm w-full text-start">Checklist</p>
        <p class="font-semibold text-sm text-nowrap text-start">4 / 5</p>
      </div>

      <div class="flex items-center gap-x-1 col-span-2">
        <div class="w-full h-1.5 rounded-xs bg-primary"></div>
        <div class="w-full h-1.5 rounded-xs bg-primary"></div>
        <div class="w-full h-1.5 rounded-xs bg-primary"></div>
        <div class="w-full h-1.5 rounded-xs bg-primary"></div>
        <div class="w-full h-1.5 rounded-xs bg-gray-300"></div>
      </div>

      <div class="flex items-center gap-x-2">
        <div class="flex items-center p-1 rounded-md border border-gray-300">
          <lucide-icon [name]="PaperclipIcon" class="size-4" />
          <p class="font-semibold text-sm w-full text-start px-2">5</p>
        </div>

        <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
          <lucide-icon [name]="MessageSquareMore" class="size-4" />
          <p class="font-semibold text-sm w-full text-start px-2 pr-1">2</p>
        </div>

        <div class="flex items-center p-1.5 rounded-md border border-gray-300">
          <lucide-icon [name]="Bell" class="size-4" />
        </div>
      </div>

      <div class="flex items-center">
        <div class="size-10 border-3 border-white rounded-full bg-gray-200">
          <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
        </div>
        <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
          <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
        </div>
        <div class="size-10 -ml-3 border-3 border-white rounded-full bg-primary text-white flex items-center justify-center font-semibold text-sm">
          +3
        </div>
      </div>
    </article>
  </div>

  <div class="w-full p-4 bg-white rounded shadow border-l-4 border-l-blue-800">

    <div class="flex items-center gap-x-2">
      <lucide-icon [name]="Clock" class="size-4.5 text-gray-500" />
      <p class="text-sm font-semibold text-gray-500 truncate w-full">03:45 PM - 05:00 PM</p>
      <p class="text-xs font-semibold bg-blue-800 text-white rounded px-2 py-1.5">Clase</p>
    </div>

    <div class="text-sm py-5 space-y-1">
      <p class="font-semibold line-clamp-1">Clase de Base de Datos II</p>
    </div>

    <article class="grid grid-cols-[1fr_auto] gap-x-3 gap-y-5">

      <div class="flex items-center gap-x-2">
        <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
          <lucide-icon [name]="Video" class="size-4" />
          <p class="font-semibold text-sm w-full text-start px-2 pr-1">Zoom</p>
        </div>

        <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
          <lucide-icon [name]="BriefcaseBusiness" class="size-4" />
          <p class="font-semibold text-sm text-start px-2 line-clamp-1">Jorge Álvaro Díaz Rodríguez</p>
        </div>
      </div>

    </article>
  </div>

  <div class="w-full p-4 bg-white rounded shadow border-l-4 border-l-blue-800">

    <div class="flex items-center gap-x-2">
      <lucide-icon [name]="Clock" class="size-4.5 text-gray-500" />
      <p class="text-sm font-semibold text-gray-500 truncate w-full">08:15 PM - 09:45 PM</p>
      <p class="text-xs font-semibold bg-blue-800 text-white rounded px-2 py-1.5">Clase</p>
    </div>

    <div class="text-sm py-5 space-y-1">
      <p class="font-semibold line-clamp-1">Clase de Algoritmos y Estructura de Datos</p>
    </div>

    <article class="grid grid-cols-[1fr_auto] gap-x-3 gap-y-5">

      <div class="flex items-center gap-x-2">
        <div class="flex items-center gap-x-2">
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="MapPin" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">C301</p>
          </div>

          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="BriefcaseBusiness" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 line-clamp-1">Luis José Sánchez Fernandez</p>
          </div>
        </div>
      </div>

    </article>
  </div>

  <div class="w-full p-4 bg-white rounded shadow border-l-4 border-l-primary">

    <div class="flex items-center gap-x-2">
      <lucide-icon [name]="AlarmClock" class="size-4.5 text-gray-500" />
      <p class="text-sm font-semibold text-gray-500 truncate w-full">08:15 PM</p>
      <p class="text-xs font-semibold bg-primary text-white rounded px-2 py-1.5">Alta</p>
    </div>

    <div class="text-sm py-3 space-y-1">
      <p class="font-semibold line-clamp-1">Examen de Algoritmos y Estructura de Datos</p>
      <p class="font-medium text-sm text-gray-500 line-clamp-1">Valor: 25%</p>
    </div>

    <article class="pt-5 grid grid-cols-[1fr_auto] gap-x-3 gap-y-5 border-t border-gray-300">
      <div class="flex items-center gap-x-2">
        <div class="flex items-center p-1 rounded-md border border-gray-300">
          <lucide-icon [name]="PaperclipIcon" class="size-4" />
          <p class="font-semibold text-sm w-full text-start px-2">1</p>
        </div>

        <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
          <lucide-icon [name]="MessageSquareMore" class="size-4" />
          <p class="font-semibold text-sm w-full text-start px-2 pr-1">0</p>
        </div>

        <div class="flex items-center p-1.5 rounded-md border border-gray-300">
          <lucide-icon [name]="Bell" class="size-4" />
        </div>
      </div>
    </article>
  </div>

  <div class="w-full p-4 bg-white rounded shadow border-l-4 border-l-primary">

    <div class="flex items-center gap-x-2">
      <lucide-icon [name]="AlarmClock" class="size-4.5 text-gray-500" />
      <p class="text-sm font-semibold text-gray-500 truncate w-full">10:00 PM</p>
      <p class="text-xs font-semibold bg-primary text-white rounded px-2 py-1.5">Alta</p>
    </div>

    <div class="text-sm py-3 space-y-1">
      <p class="font-semibold line-clamp-1">Entrega de APF Base de Datos II</p>
      <p class="font-medium text-sm text-gray-500 line-clamp-1">Entrega de avance proyecto en UTP+class.</p>
    </div>

    <article class="pt-5 grid grid-cols-[1fr_auto] gap-x-3 gap-y-5 border-t border-gray-300">

      <div class="flex items-center gap-x-2">
        <div class="flex items-center p-1 rounded-md border border-gray-300">
          <lucide-icon [name]="PaperclipIcon" class="size-4" />
          <p class="font-semibold text-sm w-full text-start px-2">1</p>
        </div>

        <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
          <lucide-icon [name]="MessageSquareMore" class="size-4" />
          <p class="font-semibold text-sm w-full text-start px-2 pr-1">0</p>
        </div>

        <div class="flex items-center p-1.5 rounded-md border border-gray-300">
          <lucide-icon [name]="Bell" class="size-4" />
        </div>
      </div>

      <div class="flex items-center">
        <div class="size-10 border-3 border-white rounded-full bg-gray-200">
          <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
        </div>
        <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
          <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
        </div>
      </div>
    </article>
  </div>
</section>
