
<div class="flex flex-col p-2 z-40">

  <!-- <button
    class="flex items-center px-5 py-3 gap-x-3 text-sm rounded hover:bg-gray-100">
    <lucide-icon [name]="UserPlus" class="size-4.5 stroke-[1.5]" />
    <p class="text-sm">Agregar participantes</p>
  </button> -->

  <button
    class="hs-dropdown-toggle relative flex items-center px-5 py-3 gap-x-3 text-sm rounded hover:bg-gray-100"
    aria-haspopup="dialog" aria-expanded="false" aria-controls="modal-groups-logout" data-hs-overlay="#modal-groups-logout"
    >
    <lucide-icon [name]="LogOut" class="size-4.5 stroke-[1.5]" />
    <p class="text-sm">Abandonar Grupo</p>

  </button>

</div>
