<article class="space-y-10">

  <section class="flex items-center gap-x-2 justify-between">
    <div class="">
      <h3 class="text-lg font-semibold">Mis Grupos</h3>
      <p class="text-sm text-gray-700">Tienes 2 comentarios nuevos.</p>
    </div>

    <a href="/dashboard/grupos" class="btn-primary flex items-center gap-x-2">
      <p class="hidden sm:block">Ver más</p>
      <p class="sm:hidden">Ver</p>
      <lucide-icon [name]="ArrowRight" class="size-4 hidden sm:block" />
    </a>

  </section>

  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-5">


    <!-- Grupo 3 -->
    <div class="grid grid-cols-[auto_1fr] gap-x-3 sm:gap-x-5 w-full p-4 items-center bg-white rounded-lg shadow">

      <div class="bg-gray-200 row-span-2 size-10 rounded-full contain-content border border-gray-300">
        <img src="img/group-image.png" alt="" class="size-full object-cover">
      </div>

      <p class="font-semibold text-primary line-clamp-1">Grupo 3</p>
      <div class="flex text-xs mt-1 items-center gap-x-2">
        <p class="text-nowrap">Creado por:</p>
        <p class="font-semibold line-clamp-1">Jorge Álvaro Díaz Rodríguez</p>
      </div>

      <div class="w-full col-span-2 mt-3 flex items-center justify-between gap-x-2">

        <div class="flex gap-x-2">
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="MessageSquareMore" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">2</p>
          </div>
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="Check" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">2 de 5</p>
          </div>
        </div>

        <div class="flex items-center">
          <div class="size-10 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
        </div>

      </div>
    </div>

    <!-- Grupo Hackaton -->
    <div class="grid grid-cols-[auto_1fr] gap-x-3 sm:gap-x-5 w-full p-4 items-center bg-white rounded-lg shadow">

      <div class="bg-gray-200 row-span-2 size-10 rounded-full contain-content border border-gray-300">
        <img src="img/laptop-image.png" alt="" class="size-full object-cover">
      </div>

      <p class="font-semibold text-primary line-clamp-1">DevMinds - Hackaton UTP 2025</p>
      <div class="flex text-xs mt-1 items-center gap-x-2">
        <p class="text-nowrap">Creado por:</p>
        <p class="font-semibold line-clamp-1">Andrea Lucía Esmeralda Huaro Enriquez</p>
      </div>

      <div class="w-full col-span-2 mt-3 flex items-center justify-between gap-x-2">

        <div class="flex gap-x-2">
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="MessageSquareMore" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">0</p>
          </div>
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="Check" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">15 de 15</p>
          </div>
        </div>

        <div class="flex items-center">
          <div class="size-10 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-primary text-white flex items-center justify-center font-semibold text-sm">
            +3
          </div>
        </div>

      </div>
    </div>

  </div>


</article>
