<div class="grid lg:grid-cols-2 gap-5">

  <div class="relative">
    <div class="sticky top-10">
      <section class="w-full bg-white py-4 px-5 space-y-5 h-fit">

        <article class="space-y-1">
          <h1 class="font-semibold ">Diseñar prototipo de aplicación móvil</h1>

          <div class="flex flex-wrap items-center gap-x-2">
            <p class="text-sm">Crear un prototipo para la nueva aplicación móvil de gestión de tareas.</p>
          </div>
        </article>

        <article class="flex flex-wrap items-center gap-y-2 gap-x-10">
          <div class="flex items-center gap-x-2">
            <lucide-icon [name]="Calendar1" class="size-4.5" />
            <p class="text-sm">08 de Junio de 2025</p>
          </div>

          <div class="flex items-center gap-x-2">
            <lucide-icon [name]="AlarmClock" class="size-4.5" />
            <p class="text-sm">10:00 AM</p>
          </div>

          <div class="flex items-center text-sm gap-x-2">
            <lucide-icon [name]="Repeat" class="size-4.5" />
            <p>Repetición:</p>
            <p>No</p>
          </div>
        </article>

        <article class="flex flex-wrap items-center gap-y-2 gap-x-10">
          <div class="flex items-center text-sm gap-x-2">
            <lucide-icon [name]="Loader" class="size-4.5" />
            <p>Estado:</p>
            <p class="font-semibold text-primary">Pendiente</p>
          </div>

          <div class="flex items-center text-sm gap-x-2">
            <lucide-icon [name]="CircleAlert" class="size-4.5" />
            <p>Prioridad:</p>
            <p class="text-xs font-semibold bg-primary text-white rounded-full px-3 py-1.5">Alta</p>
          </div>
        </article>

        <article class="space-y-3 pt-5 border-t border-t-gray-300">
          <div class="flex items-center text-sm gap-x-2">
            <lucide-icon [name]="Users" class="size-4.5" />
            <p class="text-nowrap">Participantes:</p>
            <p class="font-semibold line-clamp-1">DevMinds</p>
            <a href="/dashboard/grupos/GROUP-265" class="text-primary font-semibold underline-offset-4 ml-2 hover:underline">Ver grupo</a>
          </div>

          <div class="flex items-center text-sm gap-x-2">
            <lucide-icon [name]="Bell" class="size-4.5" />
            <p>Recordatorio por WhatsApp:</p>
            <p class="font-semibold">Activo</p>
          </div>
        </article>

        <article class="space-y-3 pt-5 border-t border-t-gray-300">
          <div class="flex items-center gap-x-2">
            <lucide-icon [name]="User" class="size-4" />
            <p class="text-sm text-nowrap">Creado por:</p>
            <p class="text-sm font-semibold line-clamp-1">Marcio Alessandro De La Cruz Capuñay</p>
          </div>
          <div class="flex items-center gap-x-2">
            <lucide-icon [name]="Calendar1" class="size-4" />
            <p class="text-sm">Creado el:</p>
            <p class="text-sm ">06 de Junio de 2025</p>
          </div>
        </article>

      </section>
    </div>
  </div>

  <div class="overflow-y-auto gap-5 grid">

    <component-tasks-details-subtasks />

    <section class="w-full bg-white py-4 px-5 h-full grid grid-rows-[auto_1fr_auto] gap-y-2">
      <h3 class="text-primary font-semibold">Archivos adjuntos</h3>

      <article class="divide-y divide-gray-200 min-h-52">
        <div class="grid grid-cols-[auto_1fr_auto] py-3 gap-x-3">
          <div class="row-span-2 flex items-center justify-center">
            <lucide-icon [name]="FileText" class="size-4.5" />
          </div>
          <p class="text-sm line-clamp-1">esquema-presentacion.pdf</p>
          <button class="row-span-2 p-2 rounded-md flex items-center justify-center">
            <lucide-icon [name]="Download" class="size-4.5" />
          </button>
          <p class="text-sm text-gray-500 line-clamp-1">1.5 MB</p>
        </div>

        <div class="grid grid-cols-[auto_1fr_auto] py-3 gap-x-3">
          <div class="row-span-2 flex items-center justify-center">
            <lucide-icon [name]="FileText" class="size-4.5" />
          </div>
          <p class="text-sm line-clamp-1">logo-empresa.png</p>
          <button class="row-span-2 p-2 rounded-md flex items-center justify-center">
            <lucide-icon [name]="Download" class="size-4.5" />
          </button>
          <p class="text-sm text-gray-500 line-clamp-1">156 KB</p>
        </div>
      </article>

      <button type="button"
        class="hs-dropdown-toggle relative text-sm font-semibold border border-primary text-primary px-2 py-2 rounded-md"
        aria-haspopup="dialog" aria-expanded="false" aria-controls="modal-upload-file" data-hs-overlay="#modal-upload-file">
        Cargar archivos
      </button>

      <div id="modal-upload-file" class="hs-overlay hidden size-full fixed top-0 start-0 z-50 overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="modal-upload-file-label">
        <component-shared-upload-file />
      </div>
    </section>

    <component-tasks-details-comments />
  </div>

  <div id="modal-delete-task" class="hs-overlay hidden size-full fixed top-0 start-0 z-50 overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="modal-delete-task">
    <component-tasks-delete-modal />
  </div>

  <div id="modal-shared-task" class="hs-overlay hidden size-full fixed top-0 start-0 z-50 overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="modal-shared-task">
    <component-tasks-shared />
  </div>

</div>