<section class="space-y-5 w-full">

  <div class="flex items-center gap-x-2 justify-between">
    <p class="font-semibold text-primary">Integrantes</p>
    <button type="button"
        class="hs-dropdown-toggle relative flex items-center gap-x-2 btn-primary"
        aria-haspopup="dialog" aria-expanded="false" aria-controls="modal-add-members" data-hs-overlay="#modal-add-members">
        <lucide-icon [name]="UserPlus" class="size-4" />
        Invitar
      </button>

      <div id="modal-add-members" class="hs-overlay hidden size-full fixed top-0 start-0 z-50 overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="modal-add-members-label">
        <component-shared-add-members />
      </div>
  </div>

  <div class="space-y-3">

    <article class="border border-gray-200 rounded-md px-3 py-2 bg-white grid grid-cols-[auto_1fr] gap-x-3 gap-y-2 items-center">
      <div class="rounded-full size-10 bg-gray-200 overflow-hidden">
        <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="object-cover">
      </div>
      <div class="text-sm gap-y-1 gap-x-2 grid grid-cols-[auto_1fr] items-center">
        <p class="truncate col-span-2 font-semibold">Andrea Lucia Esmeralda Huaro Enriquez</p>
        <p class="text-gray-600">U20100824</p>
        <p class="text-xs font-semibold w-fit bg-primary text-white px-2 py-1 rounded-full border border-primary">Administrador</p>
      </div>
      <div class="col-span-2 text-[13px] w-full flex items-center gap-x-2">
        <p>Se unió:</p>
        <p>8 de Junio 2025</p>
      </div>
    </article>

    <article class="border border-gray-200 rounded-md px-3 py-2 bg-white grid grid-cols-[auto_1fr] gap-x-3 gap-y-2 items-center">
      <div class="rounded-full size-10 bg-gray-200 overflow-hidden">
        <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="object-cover">
      </div>
      <div class="text-sm gap-y-1 gap-x-2 grid grid-cols-[auto_1fr] items-center">
        <p class="truncate col-span-2 font-semibold">Marcio Alessandro De La Cruz Capuñay</p>
        <p class="text-gray-600">U21317338</p>
        <p class="text-xs font-semibold w-fit text-primary px-2 py-1 rounded-full border border-primary">Miembro</p>
      </div>
      <div class="col-span-2 text-[13px] w-full flex items-center gap-x-2">
        <p>Se unió:</p>
        <p>8 de Junio 2025</p>
      </div>
    </article>

    <article class="border border-gray-200 rounded-md px-3 py-2 bg-white grid grid-cols-[auto_1fr] gap-x-3 gap-y-2 items-center">
      <div class="rounded-full size-10 bg-gray-200 overflow-hidden">
        <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="object-cover">
      </div>
      <div class="text-sm gap-y-1 gap-x-2 grid grid-cols-[auto_1fr] items-center">
        <p class="truncate col-span-2 font-semibold">Marianela Lizeth Santisteban Pisfil</p>
        <p class="text-gray-600">U21303348</p>
        <p class="text-xs font-semibold w-fit text-primary px-2 py-1 rounded-full border border-primary">Miembro</p>
      </div>
      <div class="col-span-2 text-[13px] w-full flex items-center gap-x-2">
        <p>Se unió:</p>
        <p>8 de Junio 2025</p>
      </div>
    </article>

    <article class="border border-gray-200 rounded-md px-3 py-2 bg-white grid grid-cols-[auto_1fr] gap-x-3 gap-y-2 items-center">
      <div class="rounded-full size-10 bg-gray-200 overflow-hidden">
        <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="object-cover">
      </div>
      <div class="text-sm gap-y-1 gap-x-2 grid grid-cols-[auto_1fr] items-center">
        <p class="truncate col-span-2 font-semibold">Josemaria Tullume Capuñay</p>
        <p class="text-gray-600">U22209117</p>
        <p class="text-xs font-semibold w-fit text-primary px-2 py-1 rounded-full border border-primary">Miembro</p>
      </div>
      <div class="col-span-2 text-[13px] w-full flex items-center gap-x-2">
        <p>Se unió:</p>
        <p>8 de Junio 2025</p>
      </div>
    </article>

    <article class="border border-gray-200 rounded-md px-3 py-2 bg-white grid grid-cols-[auto_1fr] gap-x-3 gap-y-2 items-center">
      <div class="rounded-full size-10 bg-gray-200 overflow-hidden">
        <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="object-cover">
      </div>
      <div class="text-sm gap-y-1 gap-x-2 grid grid-cols-[auto_1fr] items-center">
        <p class="truncate col-span-2 font-semibold">Santiago Imanol Davila Capuñay</p>
        <p class="text-gray-600">U22324860</p>
        <p class="text-xs font-semibold w-fit text-primary px-2 py-1 rounded-full border border-primary">Miembro</p>
      </div>
      <div class="col-span-2 text-[13px] w-full flex items-center gap-x-2">
        <p>Se unió:</p>
        <p>8 de Junio 2025</p>
      </div>
    </article>

  </div>

</section>