<section class="w-full grid md:grid-cols-2 xl:grid-cols-4 gap-5">

  <a href="/dashboard/grupos/GROUP-656231" class="bg-white w-full rounded-md shadow overflow-hidden">

    <!-- Foto del grupo -->
    <div class="w-full h-full max-h-40 sm:max-h-48 overflow-hidden flex items-center justify-center">
      <img src="/img/group-image.png" alt="" class="object-cover">
    </div>

    <!-- Detalles del grupo -->
    <div class="px-4 py-5 border-t border-gray-200">

      <p class="font-semibold text-primary">Grupo 3</p>

      <div class="flex text-sm line-clamp-1 items-center gap-x-2">
        <p>Creado por:</p>
        <p class="font-semibold">Jorge Álvaro Díaz Rodríguez</p>
      </div>

      <div class="w-full col-span-2 mt-3 flex items-center justify-between gap-x-2">

        <div class="flex gap-x-2">
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="MessageSquareMore" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">2</p>
          </div>
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="Check" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">2 de 5</p>
          </div>
        </div>

        <div class="flex items-center">
          <div class="size-10 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
        </div>

      </div>

    </div>

  </a>

  <a href="/dashboard/grupos/GROUP-656231" class="bg-white w-full rounded-md shadow overflow-hidden">

    <!-- Foto del grupo -->
    <div class="w-full h-full max-h-40 sm:max-h-48 overflow-hidden flex items-center justify-center">
      <img src="/img/laptop-image.png" alt="" class="object-cover">
    </div>

    <!-- Detalles del grupo -->
    <div class="px-4 py-5 border-t border-gray-200">

      <p class="font-semibold text-primary">DevMinds - Hackaton UTP 2025</p>

      <div class="flex text-sm line-clamp-1 items-center gap-x-2">
        <p>Creado por:</p>
        <p class="font-semibold line-clamp-1">Andrea Lucía Esmeralda Huaro Enriquez</p>
      </div>

      <div class="w-full col-span-2 mt-3 flex items-center justify-between gap-x-2">

        <div class="flex gap-x-2">
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="MessageSquareMore" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">0</p>
          </div>
          <div class="flex items-center p-1 px-2 rounded-md border border-gray-300">
            <lucide-icon [name]="Check" class="size-4" />
            <p class="font-semibold text-sm w-full text-start px-2 pr-1">15 de 15</p>
          </div>
        </div>

        <div class="flex items-center">
          <div class="size-10 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-gray-200">
            <img src="https://class.utp.edu.pe/static/media/student.42525dea.svg" alt="" class="size-full object-cover">
          </div>
          <div class="size-10 -ml-3 border-3 border-white rounded-full bg-primary text-white flex items-center justify-center font-semibold text-sm">
            +3
          </div>
        </div>
      </div>
    </div>
  </a>

</section>