<div class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg w-full sm:m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center">
  <div class="w-full flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto max-sm:h-[100dvh]">

    <!-- Encabezado -->
    <div class="flex justify-between items-center py-3 px-4 border-b border-gray-200">
      <h3 id="modal-add-task-label" class="font-bold">
        Crear Tarea
      </h3>
      <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close" data-hs-overlay="#modal-add-task">
        <span class="sr-only">Close</span>
        <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </svg>
      </button>
    </div>

    <!-- Contenido -->
    <div class="px-4 py-4 flex flex-col gap-y-5 overflow-y-auto sm:max-h-[32rem] max-sm:h-full">

      <div class="space-y-2">
        <div class="flex items-center gap-x-2 justify-between">
          <label for="" class="text-sm font-semibold">Título de la tarea</label>
          <button type="button" class="text-sm font-semibold text-primary underline-offset-4 hover:underline"
          (click)="description = !description" [ngClass]="description ? 'hidden' : ''">+ Agregar descripción</button>
        </div>
        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1"
        placeholder="Ingrese el título de la tarea">
      </div>

      <div *ngIf="description">
        <div class="flex items-center gap-x-2 justify-between">
          <label for="" class="text-sm font-semibold">Descripción</label>
          <button type="button" class="text-sm font-semibold text-primary underline-offset-4 hover:underline"
          (click)="description = !description">Ocultar</button>
        </div>
        <textarea type="text" class="w-full px-3 py-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1"
          placeholder="Ingrese la descripción de la tarea"></textarea>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <div class="space-y-2">
          <label for="" class="block text-sm font-semibold">Fecha</label>
          <input type="date" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1"
          [(ngModel)]="fecha"name="fecha">
        </div>

        <div class="space-y-2">
          <label for="" class="block text-sm font-semibold">Hora</label>
          <input type="time" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1"
          [(ngModel)]="hora"name="hora">
        </div>
      </div>

      <!-- Repetir Tarea -->
      <div class="grid grid-cols-2 gap-5 items-center">
        <div class="flex items-center gap-x-2">
          <input type="checkbox" id="repeatTask" name="repeatTask" [(ngModel)]="repeatTask" />
          <label for="repeatTask" class="text-sm font-semibold hover:cursor-pointer">Repetir tarea</label>
        </div>

        <div
        [ngClass]="{ 'hidden': !repeatTask }"
        >

          <select data-hs-select='{
            "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
            "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-2 ps-4 pe-9 flex gap-x-2 text-nowrap cursor-pointer bg-white w-full min-w-42 border border-gray-300 rounded-md text-start text-base focus:outline-hidden focus:ring-2 focus:ring-primary",
            "dropdownClasses": "z-50 animate-fade-in w-full max-h-72 p-1 bg-white border border-gray-300 rounded-md overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300",
            "optionClasses": "py-2 px-4 w-full text-base cursor-pointer hover:bg-gray-100 rounded-md focus:outline-hidden focus:bg-gray-100 hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50",
            "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-4 text-primary \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
            "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down-icon lucide-chevron-down shrink-0 size-3.5 text-gray-500\"><path d=\"m6 9 6 6 6-6\"/></svg></div>"
            }' class="hidden">
            <option value="diariamente">Diariamente</option>
            <option value="semanalmente">Semanalmente</option>
            <option value="mensualmente">Mensualmente</option>
          </select>
        </div>
      </div>

      <!-- Prioridad -->
      <div class="space-y-2">
        <label for="priority" class="block text-sm font-semibold">Prioridad</label>
        <div class="flex items-center gap-x-2">

          <button type="button" class="text-sm font-semibold rounded-md w-full text-center px-3 py-2 border"
          (click)="priority = 'baja'"
          [ngClass]="priority === 'baja' ? 'bg-black text-white' : ''"
          >Baja</button>

          <button type="button" class="text-sm font-semibold rounded-md w-full text-center px-3 py-2 border border-amber-600 text-amber-600"
          (click)="priority = 'media'"
          [ngClass]="priority === 'media' ? 'bg-amber-600 text-white' : ''"
          >Media</button>

          <button type="button" class="text-sm font-semibold rounded-md w-full text-center px-3 py-2 border border-primary text-primary"
          (click)="priority = 'alta'"
          [ngClass]="priority === 'alta' ? 'bg-primary text-white' : ''"
          >Alta</button>
        </div>
      </div>

      <div class="space-y-2">
        <div class="flex items-center gap-x-2">
          <input type="checkbox" id="addParticipants" name="addParticipants" [(ngModel)]="addParticipants" />
          <label for="addParticipants" class="text-sm font-semibold hover:cursor-pointer">Agregar participantes</label>
        </div>

        <div [ngClass]="{ 'hidden': !addParticipants }" class="space-y-2 mt-4">
          <!-- Select -->
          <select data-hs-select='{
            "placeholder": "Seleccione un grupo",
            "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
            "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-2 ps-3 pe-9 flex gap-x-2 text-nowrap cursor-pointer bg-white w-full border border-gray-300 rounded-md text-start text-base focus:outline-hidden focus:ring-2 focus:ring-primary",
            "dropdownClasses": "z-50 animate-fade-in w-full max-h-72 p-1 bg-white border border-gray-200 rounded-md overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300",
            "optionClasses": "py-2 px-3 w-full text-base cursor-pointer hover:bg-gray-100 rounded-md focus:outline-hidden focus:bg-gray-100 hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50",
            "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-4 text-primary \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
            "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down-icon lucide-chevron-down shrink-0 size-3.5 text-gray-500\"><path d=\"m6 9 6 6 6-6\"/></svg></div>"
          }' class="hidden">
            <option value="">Choose</option>
            <option value="media">Grupo 1 </option>
            <option value="alta">Grupo 2 </option>
          </select>
          <!-- End Select -->

          <p class="text-sm text-gray-500">Se le notificará a los miembros del grupo cuando la tarea sea registrada.</p>
        </div>
      </div>

      <!-- Seguimiento de Progreso -->
      <div class="flex items-center gap-x-2 sm:col-span-2">
        <input type="checkbox" id="progress" name="progress" [(ngModel)]="progress"/>
        <label for="progress" class="text-sm font-semibold">Activar seguimiento de progreso interno</label>
      </div>

      <div [ngClass]="{ 'hidden': !progress }" class="sm:col-span-2">
        <div class="flex items-center gap-x-3 w-full">
          <input type="text" class="input-text w-full" placeholder="Añadir subtarea..."/>
          <button class="btn-primary">Agregar</button>
        </div>
      </div>

      <!-- Recordatorio -->
      <div class="flex items-center gap-x-3">
        <label for="status" class="toggle">
          <input type="checkbox" id="status" name="status" class="input-checkbox-toggle">
          <span class="slider"></span>
        </label>
        <label for="status" class="text-sm font-semibold hover:cursor-pointer">Activar recordatorio por WhatsApp</label>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200">
      <!-- <button type="button"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-md border border-gray-300 bg-white shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
        data-hs-overlay="#modal-add-task">
        Cancelar
      </button> -->
      <button type="button" class="btn-primary w-full !text-base"
        data-hs-overlay="#modal-add-task">
        Crear tarea
      </button>
    </div>

  </div>
</div>



<style>
  .input-checkbox-toggle {
    display: none;
  }

  /* Estilo del contenedor del toggle */
  .toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
  }

  /* El fondo del toggle */
  .toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.1s;
    border-radius: 30px;
  }

  /* El círculo del toggle */
  .toggle .slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.1s;
  }

  /* Cuando el checkbox está checked, cambia el color y la posición del círculo */
  input:checked+.slider {
    background-color: #981c1c;
  }

  input:checked+.slider:before {
    transform: translateX(12px);
  }
</style>

